@model BookMan.Mvc.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin tác phẩm</h1>

<partial name="_Single" model="Model" />
<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-info">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-sm btn-outline-primary">Danh sách</a>
    <a asp-action="Read" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">Tải sách</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Xoá</a>
</div>
